# envs
.env

# vagrants
.vagrant/
Vagrantfile
ubuntu-*.log

# vscode
.vscode

# keys
*.private_key
id_rsa
id_ed25519

# caches created by dependencies.
__pycache__
.mypy_cache

# references
references/
map_output.txt
