.venv
.env

tests/

# modules libs
# minilibx
mlx_CLXV*/
# mazegen
mazegen/
modules/mazegen-1.0.tar.gz

#cached python
*__pycache__*
*.pyc

#log files
*.egg-info/

#created wheels
mlx-2.2-py3-none-manylinux1_x86_64.whl
map_output.txt

